.equals, .number, .function, .operator, .decimal, .clear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  max-width: 10vh;
  min-width: 10vh;
  max-height: 10vh;
  min-height: 10vh;
  margin-right: .3rem;
}

.equals, .function {
  background-color: yellow;
  border: 2px solid #ccf;
  color: hotpink;
}

.number, .decimal {
  background-color: #ccf;
  color: hotpink;
  border: 1px solid yellow;
}

.operator {
  background-color: #ccf;
  color: hotpink;
  border: 1px solid yellow;
}