.equals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ccf;
  color: hotpink;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid yellow;
  border-radius: 5px;
  max-width: 3rem;
  min-width: 3rem;
  max-height: 3rem;
  min-height: 3rem;
}